.projectCards {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 500px;
  grid-gap: 10px;
  padding: 0;
  margin: 0;
  justify-items: center;
  box-shadow: 2px 2px 7px 1px #b5b4b4;
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
  max-width: 1400px;
  height: 500px;
}

.projectDetails {
  position: relative;
  justify-content: center;
  justify-items: center;
  text-align: center;
  font-size: 15px;
  padding: 20px;
  background-color: white;
}

.projectTitle {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 17px;
}

.groupName,
.jobTitle {
  margin: 10px 0;
}

.jobTitle {
  font-style: italic;
}

.projectDescription {
  text-align: justify;
  margin: 50px 70px 30px 70px;
  font-size: 15px;
  padding: 30px;
  border: #b5b4b47c 1px solid;
  outline: none;
  border-radius: 7px;
}

.projectDescription:hover {
  transition: 1s;
  border: none;
  box-shadow: 2px 2px 7px 1px #b5b4b4;
  transform: scale(1.02, 1.02);
}

.ghIcon {
  background: rgba(255, 255, 255, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  position: absolute;
  cursor: pointer;
  top: 7%;
  left: 5%;
  color: #787878;
}

.ghIcon:hover {
  transition: 800ms;
  color: pink;
}

/* Media Queries */

@media screen and (max-width: 1350px) {
  .projectCards {
    transform: scale(0.9, 0.85);
  }

  .ghIcon {
    top: 5%;
    left: 3%;
  }
}

@media screen and (max-width: 1150px) {
  .projectCards {
    transform: scale(0.8, 0.8);
  }
}

@media screen and (max-width: 920px) {
  .projectCards {
    transform: scale(1, 1);
    height: 300px;
  }

  .projectTitle {
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 17px;
  }

  .projectDescription {
    margin: 20px 10px 30px 10px;
    font-size: 12px;
    padding: 15px;
  }
}

@media screen and (max-width: 750px) {
  .projectCards {
    transform: scale(1, 1);
    height: 250px;
  }

  .projectTitle,
  .projectDetails {
    font-size: 11px;
  }

  .projectTitle {
    margin-top: 5px;
  }

  .projectDescription {
    font-size: 9px;
  }
}

@media screen and (max-width: 650px) {
  .projectCards {
    transform: scale(1, 1);
    grid-template-rows: 200px;
    height: 200px;
  }

  .projectTitle,
  .projectDetails {
    font-size: 9px;
  }

  .projectTitle {
    margin-bottom: 3px;
  }

  .groupName,
  .jobTitle {
    margin: 3px 40px;
    font-size: 8px;
  }

  .jobTitle {
    margin-bottom: 10px;
  }

  .projectDescription {
    font-size: 7.5px;
    margin: 3px 10px;
    padding: 5px;
  }
}

@media screen and (max-width: 650px) {
  .projectDescription {
    display: none;
  }

  .projectTitle,
  .groupName,
  .jobTitle {
    font-size: 10px;
    margin: 15px;
  }

  .projectDetails {
    font-size: 10px;
    width: 100%;
    height: 200px;
  }

  .projectTitle {
    margin-top: 5%;
  }
}

@media screen and (max-width: 550px) {
  .projectTitle {
    margin-top: 20%;
  }
}

@media screen and (max-width: 400px) {
  .projectTitle,
  .groupName,
  .jobTitle {
    margin: 10px;
  }

  .projectTitle {
    margin-top: 20%;
  }
}

@media screen and (max-width: 350px) {
  .projectTitle,
  .projectDetails {
    font-size: 8px;
  }
}

@media only screen and (max-device-width: 415px) and (min-device-height: 560px) and (orientation: portrait) {
  .gallery {
    width: 100vw;
  }

  .projectTitle {
    font-size: 35px;
  }

  .groupName,
  .jobTitle {
    font-size: 25px;
  }

  .projectDescription {
    font-size: 20px;
    margin: 30px 70px;
  }
}