.iconWrapper {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-content: center;
  width: 30%;
}

.liIcon,
.emailIcon,
.igIcon,
.fbIcon,
.ghIcon {
  position: relative;
  font-size: 50px;
  cursor: pointer;
}

.liIcon {
  color: #0077b5;
}

.emailIcon {
  color: #BB001B;
}

.igIcon {
  color: #bc2a8d;
}

.fbIcon {
  color: #4267B2;
}

.ghIcon {
  color: #211F1F;
}

.liIcon:hover,
.emailIcon:hover,
.igIcon:hover,
.fbIcon:hover,
.ghIcon:hover,
.liIcon:focus,
.emailIcon:focus,
.igIcon:focus,
.fbIcon:focus,
.ghIcon:focus {
  opacity: 0.7;
  transition: 950ms;
}

@media screen and (max-width: 1350px) {
  .iconWrapper {
    width: 30%;
  }
}

@media screen and (max-width: 1250px) {
  .iconWrapper {
    width: 35%;
  }
}

@media screen and (max-width: 1120px) {
  .iconWrapper {
    width: 40%;
  }
}

@media screen and (max-width: 925px) {
  .iconWrapper {
    width: 45%;
  }
}

@media screen and (max-width: 850px) {
  .iconWrapper {
    width: 50%;
  }
}

@media screen and (max-width: 685px) {
  .iconWrapper {
    width: 65%;
  }
}

@media screen and (max-width: 600px) {
  .iconWrapper {
    width: 75%;
  }
}

@media screen and (max-width: 475px) {
  .iconWrapper {
    width: 85%;
  }
}

@media screen and (max-width: 425px) {
  .iconWrapper {
    width: 95%;
  }
}

@media screen and (max-width: 390px) {
  .liIcon,
  .emailIcon,
  .igIcon,
  .fbIcon,
  .ghIcon {
    font-size: 35px
  }
}