.modal {
  display: flex;
  position: fixed;
  box-sizing: border-box;
  object-fit: contain;
  border-radius: 10px;
  padding: 10px;
  margin: auto;
  z-index: 9999999;
  height: 85%;
  max-height: calc(100% - 200px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(21, 21, 21, 0.7);
  align-items: center;
  justify-content: center;
  justify-items: center;
  animation: all 3ms ease-out;
}

.closeButton {
  position: absolute;
  /* left: calc(100% - 65px); */
  left: calc(100% + 10px);
  top: calc(0% - 10px);
  font-size: 20px;
  color: rgb(228, 228, 228);
  cursor: pointer;
}

.closeButton:hover {
  opacity: 0.9;
  transition: 1s;
  color: rgb(2, 30, 55);
}

.modalImage {
  box-sizing: border-box;
  object-fit: contain;
  height: 100%;
  border-radius: 5px;
}