.carousel {

}

.imageContainer  {
  z-index: 10;
  color: white;
  background-color: white;
  border: black solid 10px;
}

.image {
  z-index: 5;
  height: 500px;
  border-radius: 7px;
}

.image:hover {
  transition: transform 500ms ease;
  opacity: 0.7;
  transform: scale(1.02, 1.02);
  overflow: hidden;
}

.arrows {

}

.previousButton {

}

.nextButton {

}