.intro {
  display: grid;
  grid-template-columns: auto;
  margin: 100px 30px 20px 30px;
  justify-content: center;
  justify-items: center;
}

.name,
p {
  padding: 0;
  position: relative;
}

.profileWrapper {
  margin: 25px 10% auto auto;
  display: grid;
  grid-template-columns: 100px auto;
  column-gap: 100px;
  justify-items: stretch;
}

.profilePhoto {
  position: relative;
  border-radius: 50px;
  width: 100px;
  height: 100px;
  box-shadow: 2px 2px 5px 1px #8F8F8F;
}

.name {
  justify-self: center;
  align-self: center;
  height: 75px;
  width: 425px;
}

.jobTitle {
  margin: 7px 5px 10px 0;
  position: relative;
  justify-self: flex-end;
  font-size: 20px;
}

.interests {
  display: grid;
  grid-template-columns: 90%;
  position: relative;
  justify-content: center;
  justify-self: center;
  justify-items: center;
  align-content: center;
}

.aboutTitle {
  display: none;
  margin-bottom: 20px;
  font-size: 20px;
}

.carousel {
  width: 90%;
}