.hello {
  animation-name: moveLeftToRight;
  animation-duration: 1000s;
  display: none;
}

.intro {
  display: grid;
  grid-template-columns: auto;
  margin: 100px 30px 20px 30px;
  justify-content: center;
  justify-items: center;
}

.name,
p {
  padding: 0;
  position: relative;
}

.profileWrapper {
  margin: 25px 10% auto auto;
  display: grid;
  grid-template-columns: 100px auto;
  column-gap: 100px;
  justify-items: stretch;
}

.profilePhoto {
  position: relative;
  border-radius: 50px;
  width: 100px;
  height: 100px;
  box-shadow: 2px 2px 5px 1px #8F8F8F;
}

.name {
  justify-self: center;
  align-self: center;
  height: 75px;
  width: 425px;
}

.jobTitle {
  margin: 7px 5px 10px 0;
  position: relative;
  justify-self: flex-end;
  font-size: 20px;
}

.interests {
  display: grid;
  grid-template-columns: 90%;
  position: relative;
  justify-content: center;
  justify-self: center;
  justify-items: center;
  align-content: center;
}

.aboutTitle {
  display: none;
  margin-bottom: 20px;
  font-size: 20px;
}

.carousel {
  width: 90%;
}

/* Keyframes */
@keyframes moveLeftToRight {
  from{
    transform: translateX(-1000px);
  }
  to{
    transform: translateX(100000px);
  }
}

/* Media Queries */
@media screen and (max-width: 875px) {
  .carousel {
    width: 80%;
  }
}

@media screen and (max-width: 750px) {
  .intro {
    grid-template-columns: 70%;
  }

  .name {
    height: 50px;
    width: 300px;
  }
}

@media screen and (max-width: 700px) {
  .carousel {
    width: 70%;
  }

  .name {
    height: 40px;
    width: 180px;
  }

  .profilePhoto {
    width: 50px;
    height: 50px;
  }

  .profileWrapper {
    column-gap: 30px;
    justify-items: center;
  }

  .jobTitle {
    margin: 7px 25px 10px 0;
    font-size: 15px;
  }
}

@media screen and (max-width: 575px) {
  .carousel {
    width: 55%;
  }

  .name {
    height: 30px;
    width: 150px;
    margin-right: 20px;
    left: calc(50% - 50px);
  }

  .profilePhoto {
    width: 30px;
    height: 30px;
  }

  .profileWrapper {
    column-gap: 10px;
  }

  .jobTitle {
    margin: 7px 25px 10px 0;
    font-size: 12px;
    text-align: center;
    justify-self: center;
  }
}

@media screen and (max-width: 420px) {
  .profileWrapper {
    grid-template-columns: 70%;
    justify-content: center;
    justify-items: center;
    justify-self: center;
  }

  .profilePhoto {
    display: none;
  }

  .name {
    justify-self: center;
  }
}

@media screen and (max-width: 350px) {
  .carousel {
    width: 40%;
  }
}

@media screen and (max-width: 250px) {
  .carousel {
    display: none;
  }

  .name {
    height: 25px;
    width: 100px;
  }
}