.page {
  display: grid;
  justify-content: center;
  justify-items: center;
  justify-self: center;
}

.header {
  margin-top: 100px;
  display: grid;
  position: relative;
  justify-content: center;
  justify-items: center;
  row-gap: 20px;
}

.resumeContainer {
  display: none;
}

.resumeWrapper {
  /* Paper ratio should be 17:22 (w:h) */
  display: grid;
  position: relative;
  grid-template-columns: 100px 750px;
  column-gap: 30px;
  margin: 35px 20px;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  font-size: 11px;
  color: #666666;
}

p,
li {
  margin: 0;
  padding: 0;
  color: #666666;
}

.title {
  position: relative;
  font-size: 30px;
  font-family: Garamond;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-align: center;
  margin: 0;
  box-shadow: 2px 2px 7px 2px #EDEDED;
  background-color: white;
  padding: 10px;
}

.paper {
  padding: 50px;
  box-shadow: 2px 2px 7px 2px #EDEDED;
  display: grid;
  grid-template-columns: 3fr 2fr;
  background-color: white;
  height: fit-content;
  min-height: 1000px;
  max-height: 1500px;
}

.name {
  position: relative;
  margin: 0;
  padding-bottom: 7px;
  border-bottom: solid #E0E0E0 1px;
  font-size: 50px;
  align-self: end;
}

.contact {
  position: relative;
  text-align: right;
  align-self: end;
  margin: 0;
  padding-bottom: 7px;
  border-bottom: solid #E0E0E0 1px;
  font-size: 10px;
  align-self: end;
  cursor: pointer;
}

.columnOne,
.columnTwo {
  margin-top: 20px;
  height: fit-content;
}

.columnOne {
  border-right: solid #E0E0E0 1px;
  padding-right: 20px;
}

.columnTwo {
  margin-left: 30px;
}

.gitHubLinks {
  cursor: pointer;
}

h1 {
  font-family: Garamond;
  font-size: 42px;
  font-weight: 500;
  margin: 0;
}

h2 {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  color: #9080be;
  margin: 0;
  font-size: 15px;
}

.priorExperienceHeader,
.involvementsHeader {
  margin-top: 40px;
}

h3 {
  color: black;
  margin: 15px 0 5px 0;
}

.projectName {
  font-weight: 700;
  color: #9080be;
  margin: 5px 0;
}

.projectGroupName {
  font-style: italic;
  margin: 5px 0;
}

.technicalBullets {
  padding: 3px;
  color: #666666;
}

.workCity,
.workYear {
  margin: 0;
  color: #666666;
  font-size: 12px;
}

.workCity {
  font-style: italic;
}

.workDetails {
  margin-bottom: 30px;
}

.schools {
  margin: 0;
  margin-top: 10px;
}

.educationDetails {
  margin: 0;
  font-weight: 500;
  font-style: italic;
  color: #666666;
}

.techKnowledgeTitle {
  margin-bottom: 15px;
}

.techKnowledge,
.skills {
  font-size: 11.5px;
}

/* Media Queries */

@media screen and (max-width: 1150px) {
  .resumeWrapper {
    transform: scale(1, 1);
    column-gap: 0px;
    margin: 50px 20px;
  }

  .title {
    padding: 10px;
  }
}

@media screen and (max-width: 1050px) {
  .resumeWrapper {
    transform: scale(0.8, 0.8);
    margin: 0px 20px;
    margin-top: -50px;
  }
}

@media screen and (max-width: 870px) {
  .resumeWrapper {
    transform: scale(0.7, 0.7);
    margin-top: -100px;
  }
}

@media screen and (max-width: 800px) {
  .resumeWrapper {
    transform: scale(0.6, 0.6);
    margin-top: -150px;
  }
}

@media screen and (max-width: 690px) {
  .resumeWrapper {
    transform: scale(0.5, 0.5);
    margin-top: -200px;
  }
}

@media screen and (max-width: 580px) {
  .resumeWrapper {
    display: none;
  }

  .resumeContainer {
    display: grid;
    grid-template-columns: auto;
    margin: 30px 20px;
    justify-content: center;
    justify-items: center;
    text-align: center;
  }
}

/* Media query for mobile screens */
@media only screen and (max-device-width: 415px) and (min-device-height: 560px) {
  .resumeContainer {
    display: grid;
    grid-template-columns: auto;
    margin: 0px 20px;
    justify-content: center;
    justify-items: center;
    text-align: center;
  }
}

/* Media queries for some common tablet screens */
@media only screen and (max-device-width: 1024px) and (min-device-height: 815px) {
  .resumeWrapper {
    margin-top: -55px;
  }

  .resumeContainer {
    display: grid;
    grid-template-columns: auto;
    margin: 0 20px;
    justify-content: center;
    justify-items: center;
    text-align: center;
    margin-top: -50px;
  }
}

/* Media query for surface duo */
@media only screen and (min-device-width: 500px) and (min-device-height: 700px) and (max-device-width: 600px) and (max-device-height: 800px){
  .resumeWrapper {
    margin-top: 20px;
  }

  .resumeContainer {
    display: grid;
    grid-template-columns: auto;
    margin: 0 20px;
    justify-content: center;
    justify-items: center;
    text-align: center;
  }

  .header {
    display: none;
  }
}