.resumeWrapper {
  display: grid;
  grid-template-columns: 100px auto;
  column-gap: 30px;
  margin: 20px;
  margin-top: 100px;
  justify-content: center;
  justify-items: center;
  font-size: 11px;
  color: #666666;
}

p,
li {
  margin: 0;
  padding: 0;
  color: #666666;
}

.title {
  position: relative;
  font-size: 75px;
  font-family: Garamond;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-align: center;
  margin: 0;
  box-shadow: 2px 2px 7px 2px #EDEDED;
}

.paper {
  /* Paper ratio should be 17:22 (w:h) */
  height: 880px;
  width: 680px;
  padding: 50px;
  box-shadow: 2px 2px 7px 2px #EDEDED;
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.name {
  position: relative;
  margin: 0;
  padding-bottom: 7px;
  border-bottom: solid #E0E0E0 1px;
  font-size: 50px;
  align-self: end;
}

.contact {
  position: relative;
  text-align: right;
  height: 75px;
  margin: 0;
  border-bottom: solid #E0E0E0 1px;
}

.columnOne,
.columnTwo {
  margin-top: 20px;
}

.columnOne {
  border-right: solid #E0E0E0 1px;
  padding-right: 20px;
}

.columnTwo {
  margin-left: 30px;
}

h1 {
  font-family: Garamond;
  font-size: 42px;
  font-weight: 500;
  margin: 0;
}

h2 {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  color: #9080be;
  margin: 0;
  font-size: 15px;
}

.priorExperienceHeader,
.involvementsHeader {
  margin-top: 40px;
}

h3 {
  color: black;
  margin: 15px 0 5px 0;
}

.projectName {
  font-weight: 700;
  color: #9080be;
  margin: 5px 0;
}

.projectGroupName {
  font-style: italic;
  margin: 5px 0;
}

.technicalBullets {
  padding: 3px;
  color: #666666;
}

.workCity,
.workYear {
  margin: 0;
  color: #666666;
  font-size: 12px;
}

.workCity {
  font-style: italic;
}

.workDetails {
  margin-bottom: 30px;
}

.schools {
  margin: 0;
  margin-top: 10px;
}

.educationDetails {
  margin: 0;
  font-weight: 500;
  font-style: italic;
  color: #666666;
}

.techKnowledgeTitle {
  margin-bottom: 15px;
}

.techKnowledge,
.skills {
  font-size: 11.5px;
}