.intro {
  display: grid;
  position: relative;
  grid-template-columns: 95%;
  margin: 100px 100px 20px 100px;
  justify-content: center;
  justify-items: center;
}

.introWrapper {
  box-shadow: 2px 2px 7px 1px #b5b4b4;
  border-radius: 30px;
  padding: 50px 30px 30px 30px;
  justify-content: center;
  justify-items: center;
  display: grid;
}

.name,
p,
.contactLink {
  padding: 7px;
  position: relative;
}

.profileWrapper {
  margin: 30px 20% 20px auto;
  display: grid;
  grid-template-columns: 100px auto;
  height: 100px;
  column-gap: 100px;
  justify-items: stretch;
}

.profilePhoto {
  position: relative;
  border-radius: 50px;
  width: 100px;
  height: 100px;
  box-shadow: 2px 2px 5px 1px #8F8F8F;
  justify-self: center;
  align-self: center;
}

.hi {
  margin: 0;
  padding: 0;
  position: relative;
  justify-self: start;
  margin-left: 20%;
  font-size: 35px;
  font-family: Garamond;
}

.name {
  justify-self: center;
  align-self: center;
  height: 100px;
  width: 500px;
}

.icons {
  margin-top: 30px;
  width: 200%;
  position: relative;
  display: flex;
  justify-content: center;
  justify-items: space-around;
}

.aboutTitle,
.contactTitle {
  justify-self: center;
  align-self: center;
  margin: 30px auto 10px auto;
  width: 100%;
  text-align: center;
}

.bodyText {
  margin-top: 10px;
  transition: 500ms;
  width: 100%;
  text-align: center;
}

.contactText {
  margin-top: 10px;
  cursor: pointer;
  transition: 500ms;
  width: 100%;
  text-align: center;
}

.bodyText:hover,
.contactText:hover {
  color: black;
}

.contactIcon {
  color: #62cde2c8;
  margin: auto 7px;
}

.contactButton {
  position: relative;
  margin: 25px auto;
  padding: 10px 30px;
  justify-content: center;
  font-family: "montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  color: white;
  outline: none;
  border: none;
  background: linear-gradient(to right, #00CCE2, #43CCE2, #62CCE2, #76CCE2, #83CCE2, #95CCE2, #A1CCE2, #A1CCE2, #C8CCE2, #D2CCE2);
  background-size: 200%;
  transition: 1s;
  border-radius: 5px;
  box-shadow: 2px 2px 7px 2px #E0E0E0;
}

.contactButton:hover,
.contactButton:focus {
  background-position: right;
}

@media screen and (max-width: 1430px) {
  .intro {
    grid-template-columns: 85%;
  }

  .profileWrapper {
    grid-template-columns: 75px auto;
    margin: 30px auto 20px auto;
    height: 75px;
    column-gap: 50px;
  }

  .profilePhoto {
    width: 75px;
    height: 75px;
  }

  .name {
    height: 75px;
    width: 350px;
  }
}

@media screen and (max-width: 1210px) {
  .intro {
    grid-template-columns: 50%;
    margin: 100px 200px 20px 200px;
  }
}

@media screen and (max-width: 1170px) {
  .intro {
    grid-template-columns: 20%;
    margin: 100px 500px 20px 500px;
  }
}

@media screen and (max-width: 955px) {
  .intro {
    grid-template-columns: auto;
    margin: 100px 300px 20px 300px;
  }
}

@media screen and (max-width: 770px) {
  .profileWrapper {
    grid-template-columns: 50px auto;
    margin: 30px auto 20px auto;
    height: 50px;
    column-gap: 50px;
  }

  .profilePhoto {
    width: 50px;
    height: 50px;
  }

  .name {
    height: 50px;
    width: 250px;
  }

  .icons {
    width: 155%;
    justify-items: space-between;
    margin: auto 75px;
  }
}

@media screen and (max-width: 650px) {
  .intro {
    margin: 100px 100px 20px 100px;
  }

  .profileWrapper {
    margin: 0 auto 30px auto;
    grid-template-columns: 50px;
  }

  .profilePhoto {
    width: 50px;
    height: 50px;
    justify-self: center;
  }

  .hi,
  .name,
  .icons,
  .contactIcon {
    display: none;
  }

  .contactText {
    font-size: 12px;
  }
}

@media screen and (max-width: 410px) {
  .profileWrapper {
    display: none;
  }

  .profilePhoto {
    display: none;
  }

  .contactLink,
  .contactButton {
    display: none;
  }
}

/*
Common mobile screen sizes:
  Width: 280, 320, 375, 360, 411, 414
  Height: 568, 640, 653, 667, 731, 736, 812, 823
iPad, Surface:
  W: 768, 1024, 540
  H: 1024, 1366, 720
*/

/* Media query for smaller/older mobile screens  - iPhone 5/SE, Galaxy S5, and Moto G4 models*/
@media only screen and (max-device-width: 415px) and (min-device-height: 560px) {
  .intro {
    margin-top: 100px;
    grid-template-columns: 700px;
    padding: auto 100px;
  }

  .hi {
    font-size: 30px;
    margin-top: 30px;
  }

  .contactButton {
    margin-bottom: 30px;
  }

  .profileWrapper {
    display: grid;
    grid-template-columns: 75px auto;
    margin: 30px auto 50px auto;
    height: 75px;
    column-gap: 20px;
  }

  .profilePhoto {
    width: 75px;
    height: 75px;
  }

  .name {
    height: 75px;
    width: 350px;
  }

  .aboutTitle,
  .contactTitle {
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 30px;;
  }

  .contactIcon,
  .bodyText,
  .contactText {
    margin: 10px auto;
    font-size: 20px
  }

  .contactIcon {
    margin: 0 10px;
  }
}

/* Media query for mobile screens - iPhone 6/7/8/Plus, Galaxy Fold, Pixel 2 */
@media only screen and (max-device-width: 415px) and (min-device-height: 652px) {
  .intro {
    margin-top: 150px;
    grid-template-columns: 700px;
  }

  .aboutTitle,
  .contactTitle {
    font-size: 20px;
    margin-top: 80px;
    margin-bottom: 30px;
  }

  .contactButton {
    margin-top: 70px;
    margin-bottom: 70px;
  }
}

/* Media query for mobile screens - iPhone X, Pixel 2 XL */
@media only screen and (max-device-width: 400px) and (min-device-height: 800px)  {
  .intro {
    margin-top: 200px;
  }

  .hi {
    font-size: 45px;
  }

  .aboutTitle,
  .contactTitle {
    font-size: 30px;
    margin-top: 100px;
    margin-bottom: 45px;
  }

  .contactButton {
    margin-top: 90px;
    margin-bottom: 90px;
  }
}