.downloadButton {
  position: relative;
  padding: 15px 30px;
  justify-content: center;
  font-family: "montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  color: white;
  outline: none;
  border: none;
  background: linear-gradient(to right, #F2D5DD, #F2BDD6,#F2AEC7, #F7AEC7, #DBAEC7, #F2C9DC, #bdf6fc);
  background-size: 150%;
  transition: 1.5s;
  border-radius: 5px;
  box-shadow: 2px 2px 7px 2px #bdbdbd;
}

.downloadButton:hover,
.downloadButton:focus {
  background-position: right;
}