.socialMediaContainer {
  writing-mode: vertical-rl;
  position: fixed;
  left: 25px;
  bottom: 25px;
  opacity: 0.9;
  padding: 10px 0px;
  border-radius: 50px;
  background-color: white;
  opacity: 0.9;
}

.link {
  color: #ABABAB;
  border: none;
  outline: none;
  cursor: pointer;
  text-decoration: none;
}

.emailIcon,
.liIcon,
.ghIcon,
.igIcon,
.fbIcon {
  font-size: 25px;
  padding: 5px;
  color: #ABABAB;
  cursor: pointer;
  transition: 350ms;
}

.liIcon {
  color: #0077b5;
}

.emailIcon {
  color: #BB001B;
}

.igIcon {
  color: #bc2a8d;
}

.fbIcon {
  color: #4267B2;
}

.ghIcon {
  color: #211F1F;
}

.emailIcon:hover,
.emailIcon:focus,
.liIcon:hover,
.liIcon:focus,
.ghIcon:hover,
.ghIcon:focus,
.igIcon:hover,
.igIcon:focus,
.fbIcon:hover
.fbIcon:focus {
  opacity: 0.7;
}

.emailFooter {
  writing-mode: vertical-rl;
  position: fixed;
  right: 25px;
  bottom: 25px;
  background-color: white;
  opacity: 0.9;
  padding: 20px 10px;
  border-radius: 50px;
  cursor: pointer;
  color: #ABABAB;
}