.socialMediaContainer {
  writing-mode: vertical-rl;
  position: fixed;
  left: 25px;
  bottom: 5px;
  opacity: 0.9;
  padding: 10px 0px;
  border-radius: 50px 50px 20px 20px;
  background-color: white;
  opacity: 0.9;
}

.link {
  color: #ABABAB;
  border: none;
  outline: none;
  cursor: pointer;
  text-decoration: none;
}

.emailIcon,
.liIcon,
.ghIcon,
.igIcon,
.fbIcon {
  font-size: 25px;
  padding: 5px;
  color: #ABABAB;
  cursor: pointer;
  transition: 500ms;
}

.liIcon {
  color: #0077b5;
}

.emailIcon {
  color: #BB001B;
}

.igIcon {
  color: #bc2a8d;
}

.fbIcon {
  color: #4267B2;
}

.ghIcon {
  color: #211F1F;
}

.emailIcon:hover,
.emailIcon:focus,
.liIcon:hover,
.liIcon:focus,
.ghIcon:hover,
.ghIcon:focus,
.igIcon:hover,
.igIcon:focus,
.fbIcon:hover
.fbIcon:focus {
  opacity: 0.5;
}

.emailFooter {
  writing-mode: vertical-rl;
  position: fixed;
  right: 25px;
  bottom: 5px;
  background-color: white;
  /* background-color: #F2F2F2; */
  opacity: 0.9;
  padding: 20px 10px;
  border-radius: 50px 50px 20px 20px;
  cursor: pointer;
  color: #ABABAB;
  font-size: 15px;
}

.socialMediaContainer:hover,
.emailFooter:hover {
  background-color: #F2F2F2;
  transition: 250ms;
  color: black;
}