.carousel {
  margin: 10px 0;
  padding: 0 0;
  display: grid;
  grid-template-columns: 50px auto 50px;
  width: calc(100% + 100px);
  margin-left: -50px;
  border-radius: 10px;
}

.previousButton,
.nextButton {
  cursor: pointer;
  color: white;
  position: relative;
  opacity: 0.7;
  height: 490px;
  width: 50px;
  z-index: 10;
  border: 5px solid transparent;
}

.previousButton {
  left: 50px;
  border-radius: 10px 0 0 10px;
}

.previousButtonPlaceholder {
  position: relative;
  color: transparent;
  position: relative;
  opacity: 1;
  height: 490px;
  width: 50px;
  z-index: 10;
  border: 5px solid transparent;
}

.nextButton {
  right: 60px;
  border-radius: 0 10px 10px 0;
}

.previousButton:hover,
.nextButton:hover {
  opacity: 0.8;
  background-color: rgba(62, 61, 61, 0.5);
  transition: 500ms;
  width: 45px;
}

.previousButton:hover {
  left: 50px;
}

.nextButton:hover {
  right: 55px;
}

.imageContainer {
  display: flex;
  position: relative;
  height: 500px;
  width: 100%;
  flex-direction: row;
  z-index: 5;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
  border-radius: 10px;
  align-content: center;
}

.imageContainer::-webkit-scrollbar {
  display: none;
}

.image {
  height: 500px;
  border-radius: 10px;
  margin-right: 5px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.image:hover {
  cursor: pointer;
  opacity: 0.9;
  /* transform: scale(1.02, 1.02); */
  /* height: 500px; */
}

.lastImage {
  margin: 0;
}