.carousel {
  margin: 10px 0;
  padding: 0 0;
  display: grid;
  grid-template-columns: 50px auto 50px;
  width: 90%;
  border-radius: 10px;
}

.previousButton,
.nextButton {
  color: white;
  position: relative;
  opacity: 0.5;
  height: 490px;
  width: 50px;
  z-index: 10;
  border: 5px solid transparent;
  background-color: rgb(201, 201, 201, 0.5);
  /* background-color: rgba(36, 36, 36, 0.5); */
}

.previousButton {
  left: 50px;
  border-radius: 10px 0 0 10px;
}

.nextButton {
  right: 60px;
  border-radius: 0 10px 10px 0;
}

.previousButton:hover,
.nextButton:hover {
  opacity: 1;
}

.imageContainer {
  display: flex;
  position: relative;
  height: 500px;
  width: 100%;
  flex-direction: row;
  z-index: 5;
  overflow-x: scroll;
  overflow-y: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  border-radius: 10px;
  align-content: center;
}

.imageContainer::-webkit-scrollbar {
  display: none;
}

.image {
  height: 500px;
  border-radius: 10px;
  margin-right: 5px;
}

.image:hover {
  cursor: pointer;
  opacity: 0.9;
  /* transform: scale(1.02, 1.02); */
  /* height: 500px; */
}

.lastImage {
  margin: 0;
}