.header {
  margin: 0px;
  display: grid;
  position: sticky;
  top: 0px;
  height: 65px;
  /* grid-template-columns: 275px auto 500px; */
  grid-template-columns: 100px auto 500px;
  background-color: white;
  opacity: 0.975;
  z-index: 15;
  align-content: center;
  /* border: solid black; */
  box-shadow: 2px 2px 7px 2px #EDEDED;
}

.header:hover,
.header:focus {
  box-shadow: 2px 2px 7px 2px #BFBFBF;
}

.name {
  position: relative;
  font-family: Dancing Script;
  font-size: 50px;
  font-weight: 700;
  top: 30px;
  color: #0F3F8F;
  padding: 0px 20px;
  text-decoration: none;
  border: none;
  height: 50px;
  width: 200px;
  justify-self: start;
  align-content: center;
  align-self: center;
  cursor: pointer;
}

.headerImage {
  position: relative;
  margin: auto 20px;
  top: 25px;
  border: none;
  border-radius: 50%;
  justify-self: start;
  align-content: center;
  align-self: center;
  cursor: pointer;
  height: 50px;
  width: 50px;
  box-shadow: 2px 2px 5px 1px #BFBFBF;
}

.headerImage:hover,
.headerImage:focus {
  box-shadow: 2px 2px 5px 1px #8F8F8F;
}

.links {
  display: flex;
  position: relative;
  justify-content: flex-start;
  height: 100px;
}

.aboutMeLink,
.projectsLink,
.techSkillsLink,
.educationLink,
.resumeLink {
  /* Font height (20) + top/bottom margin + top/bottom padding = total height (100)*/
  padding: 10px 15px;
  margin: 30px 10px;
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-decoration: none;
  color: #575757;
  border:none;
  justify-self: start;
  align-content: center;
  align-self: center;
  cursor: pointer;
  font-size: 15px;
  outline: none;
  background: none;
  font-weight: 500;
  border-bottom: solid 3px white;
}

.aboutMeLink:hover,
.projectsLink:hover,
.techSkillsLink:hover,
.educationLink:hover,
.resumeLink:hover {
  border-bottom: solid 3px;
}

.socialMedia {
  display: flex;
  position: relative;
  top: 25px;
  margin: 0 20px;
  align-content: center;
  justify-content: flex-end;
  height: 100px;
}

.emailIcon,
.liIcon,
.ghIcon,
.igIcon,
.fbIcon {
  padding: 0 10px;
  color: #0F3F8F;
  /* color: #7A7A7A; */
  /* color: #9080be; */
  cursor: pointer;
  height: 50px;
  border-bottom: white solid 5px;
  font-size: 30px;
}

.emailIcon:hover,
.emailIcon:focus,
.liIcon:hover,
.liIcon:focus,
.ghIcon:hover,
.ghIcon:focus,
.igIcon:hover,
.igIcon:focus,
.fbIcon:hover,
.fbIcon:focus {
  border-bottom: solid 5px;
  /* border-bottom: solid 5px #7A7A7A; */
}

.emailIcon:hover,
.emailIcon:focus {
  color: #BB001B;
}

.liIcon:hover,
.liIcon:focus {
  color: #0077b5;
  /* color: #0F3F8F; */
}

.ghIcon:hover,
.ghIcon:focus {
  color: #211F1F;
}

.igIcon:hover,
.igIcon:focus {
  color: #bc2a8d;
}

.fbIcon:hover,
.fbIcon:focus {
  color: #4267B2;
}

@media screen and (max-width: 1120px) {
  .header {
    display: none;
  }

  .header {
    display: grid;
    grid-template-columns: auto auto auto;
  }
}

@media screen and (max-width: 920px) {
  .aboutMeLink,
  .projectsLink,
  .techSkillsLink,
  .educationLink,
  .resumeLink {
    font-size: 12px;
  }

  .emailIcon,
  .liIcon,
  .ghIcon,
  .igIcon,
  .fbIcon {
    font-size: 25px;
  }

  .socialMedia {
    justify-content: space-between;
  }
}

@media screen and (max-width: 850px) {
  .aboutMeLink,
  .projectsLink,
  .techSkillsLink,
  .educationLink,
  .resumeLink {
    padding: 10px 5px;
    margin: 30px 5px;
  }

  .emailIcon,
  .liIcon,
  .ghIcon,
  .igIcon,
  .fbIcon {
    font-size: 20px;
  }
}

@media screen and (max-width: 695px) {
  .aboutMeLink,
  .projectsLink,
  .techSkillsLink,
  .educationLink,
  .resumeLink {
    font-size: 10px;
    padding: 10px 3px;
    margin: 30px 3px;
  }

  .emailIcon,
  .liIcon,
  .ghIcon,
  .igIcon,
  .fbIcon {
    padding: auto 5px;
  }
}

@media screen and (max-width: 620px) {
  .emailIcon,
  .liIcon,
  .ghIcon,
  .igIcon,
  .fbIcon {
    padding: auto 2px;
  }
}

@media screen and (max-width: 570px) {
  .aboutMeLink {
    display: none;
  }
}

@media screen and (max-width: 520px) {
  .techSkillsLink {
    display: none;
  }
}

@media screen and (max-width: 490px) {
  .educationLink {
    display: none;
  }
}

@media screen and (max-width: 430px) {
  .projectsLink {
    display: none;
  }
}

@media screen and (max-width: 370px) {
  .resumeLink {
    display: none;
  }
}

@media screen and (max-width: 325px) {
  .headerImage {
    display: none;
  }
}

@media screen and (max-width: 230px) {
  .header,
  .links,
  .socialMedia {
    display: none;
  }

  .header {
    display: grid;
    grid-template-columns: auto;
  }

  .headerImage {
    top: 0px;
    left: calc(50% - 50px);
    display: flex;
    position: relative;
    justify-content: space-between;
  }

  .socialMedia {
    display: none;
  }
}