.contact {
  display: grid;
  grid-template-columns: 100%;
  margin: 30px;
  margin-top: 80px;
  justify-content: center;
  justify-items: center;
  justify-self: center;
}

.contactTitle {
  position: relative;
  margin: 20px;
}

.socialIcons {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
  justify-items: space-between;
}

.messageContainer {
  display: grid;
  grid-template-columns: 2fr 3fr;
  column-gap: 100px;
  justify-content: center;
  justify-items: center;
  align-content: center;
  width: 100%;
}

.emailImage {
  width: 300px;
  justify-self: end;
  align-self: start;
  margin-top: 35px
}

.mediaQueryPlaceholder,
.emailPlaceholder,
.emailPlaceholderText {
  display: none;
}

.messageForm {
  display: grid;
  position: relative;
  grid-template-columns: auto;
  row-gap: 5px;
  outline: none;
  font-family: Garamond;
  width: 55%;
  justify-self: start;
}

.defaultNotification,
.sentNotification,
.failedNotification {
  justify-self: center;
  margin: 3px;
  margin-top: 20px;
  color: white;
  transition: 1s;
}

.sentNotification {
  color: green;
}

.failedNotification {
  color: red;
}


.nameInput,
.titleInput,
.companyInput,
.emailInput,
.phoneInput,
.subjectInput,
.messageInput {
  position: relative;
  outline: none;
  border: solid 1px #DEDEDE;
  border-radius: 50px;
  padding: 10px 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 12px;
  margin-bottom: 7px;
  justify-self: center;
  width: 100%;
}

.nameInput:hover,
.nameInput:focus,
.titleInput:hover,
.titleInput:focus,
.companyInput:hover,
.companyInput:focus,
.emailInput:hover,
.emailInput:focus,
.phoneInput:hover,
.phoneInput:focus,
.subjectInput:hover,
.subjectInput:focus,
.messageInput:hover,
.messageInput:focus {
  border: solid 1px #ABABAB;
}

.companyContainer {
  display: grid;
  position: relative;
  grid-template-columns: 50% 50%;
  justify-content: center;
  column-gap: 25px;
}

.titleInput,
.companyInput {
  position: relative;
  width: calc(100% - 25px);
}

.titleInputText,
.companyInputText {
  justify-self: center;
  margin-left: 15px;
}

.phoneInput,
.messageInput {
  margin-bottom: 0px;
}

.messageInput {
  border-radius: 10px;
}

.inputText,
.titleInputText,
.companyInputText {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 700;
  justify-self: start;
  font-size: 14px;
}

.notesWrapper {
  display: flex;
  justify-content: space-between;
}

.characterCount,
.note {
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 10px;
  margin-bottom: 10px;
}

.characterCount {
  font-weight: 500;
  font-size: 11px;
}

.buttonsContainer {
  justify-self: end;
}

.submitMessageButton,
.cancelButton {
  font-size: 12px;
  padding: 10px 30px;
  margin: 15px 0px;
  text-align: center;
  font-family: "montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  outline: none;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.submitMessageButton {
  background-image: linear-gradient(to right, #A11B38, #AF1D3C, #C42145, #DC244B, #FF2957);
  background-size: 200%;
  transition: 500ms;
  margin-left: 15px;
  box-shadow: 2px 2px 3px 1px #EBEBEB;
}

.cancelButton {
  color: #757575;
  background-color: rgb(239, 239, 239);
}

.submitMessageButton:hover,
.submitMessageButton:focus {
  background-position: right;
  box-shadow: 2px 2px 7px 2px #EBEBEB;
}

.cancelButton:hover,
.cancelButton:focus {
  background-color: #E0E0E0;
  box-shadow: 2px 2px 7px 1px #EBEBEB;
  color: black;
  transition: 500ms;
}

/* Media Queries */

@media screen and (max-width: 1150px) {
  .messageForm {
    width: 85%;
  }

  .messageContainer {
    column-gap: 70px;
  }

  .emailImage {
    width: 250px;
  }
}

@media screen and (max-width: 800px) {
  .messageContainer {
    column-gap: 30px;
  }

  .characterCount,
  .note {
    font-size: 9px;
  }

  .emailImage {
    width: 200px;
  }
}

@media screen and (max-width: 700px) {
  .characterCount,
  .note {
    font-size: 8px;
  }

  .emailImage {
    width: 150px;
  }
}

@media screen and (max-width: 650px) {
  .messageContainer {
    grid-template-columns: 1fr;
    justify-items: center;
    justify-content: center;
    justify-self: center;
    grid-gap: 0;
  }

  .messageForm,
  .emailImage {
    width: 65vw;
    justify-self: center;
    align-self: start;
    margin: 0;
  }

  .characterCount,
  .note {
    font-size: 10px;
  }

  .emailImage {
    width: 250px;
  }
}


@media screen and (max-width: 570px) {
  .messageForm {
    width: 55vw;
  }

  .characterCount {
    font-size: 9px;
  }

  .note {
    text-align: center;
    font-size: 8.5px;
  }

  .emailImage {
    width: 200px;
  }
}

@media screen and (max-width: 550px) {
  .contactTitle {
    margin: 50px 10px;
    height: 45px;
    width: 125px
  }

  .notesWrapper {
    display: grid;
    grid-template-columns: auto;
    justify-self: center;
    justify-items: center;
    text-align: center;
  }

  .characterCount,
  .note {
    font-size: 10px;
  }

  .buttonsContainer {
    display: grid;
    grid-template-columns: auto;
  }

  .submitMessageButton,
  .cancelButton {
    margin: 5px 0px;
  }
}

@media screen and (max-width: 450) {
  .messageContainer {
    grid-template-columns: 35vw;
  }

  .emailImage {
    width: 100px;
  }
}



@media screen and (max-width: 390px) {
  .socialIcons,
  .emailImage,
  .messageForm {
    display: none;
  }

  .mediaQueryPlaceholder {
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
    margin: 50px 0;
  }

  .emailPlaceholder,
  .emailPlaceholderText {
    display: flex;
    cursor: pointer;
    text-align: center;
  }

  .emailPlaceholder {
    font-size: 50px;
    color: #BB001B;
  }

  .emailPlaceholder:hover {
    opacity: 0.7;
    transition: 1s;
  }

  .contactTitle {
    margin: 50px 10px;
    height: 45px;
    width: 125px
  }
}

/* Media query for mobile screens */
@media only screen and (max-device-width: 415px) and (min-device-height: 560px) {
  .contact {
    margin-top: 80px;
  }

  .contactTitle {
    height: 90px;
    width: 250px;
  }

  .messageContainer {
    margin-top: 20px;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
    column-gap: 0;
    row-gap: 15px;
  }

  .socialIcons {
    margin-top: 50px;
  }

  .emailImage,
  .messageForm {
    justify-self: center;
    margin: 0;
  }

  .messageForm {
    width: 70%;
  }

  .emailImage {
    width: 200px;
  }

  .messageForm,
  .inputText,
  .titleInputText,
  .companyInputText {
    font-size: 30px;
  }

  .messageForm {
    row-gap: 15px;
  }

  .nameInput,
  .titleInput,
  .companyInput,
  .emailInput,
  .phoneInput,
  .subjectInput,
  .messageInput {
    font-size: 24px;
    margin: 0;
  }

  .defaultNotification,
  .sentNotification,
  .failedNotification,
  .characterCount,
  .note {
    font-size: 20px;
    margin: 0;
  }

  .submitMessageButton,
  .cancelButton {
    font-size: 30px;
    padding: 15px 30px;
  }

  .submitMessageButton {
    margin-left: 25px;
  }
}