.contact {
  display: grid;
  grid-template-columns: 100%;
  margin: 15px 30px;
  margin-top: 80px;
  justify-content: center;
  justify-items: center;
  justify-self: center;
}

.contactTitle {
  position: relative;
  margin: 20px;
}

.iconWrapper {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-content: center;
  width: 25%;
}

.liIcon,
.emailIcon,
.igIcon,
.fbIcon,
.ghIcon {
  position: relative;
  font-size: 50px;
  cursor: pointer;
}

.liIcon {
  color: #0077b5;
}

.emailIcon {
  color: #BB001B;
}

.igIcon {
  color: #bc2a8d;
}

.fbIcon {
  color: #4267B2;
}

.ghIcon {
  color: #211F1F;
}

.liIcon:hover,
.emailIcon:hover,
.igIcon:hover,
.fbIcon:hover,
.ghIcon:hover,
.liIcon:focus,
.emailIcon:focus,
.igIcon:focus,
.fbIcon:focus,
.ghIcon:focus {
  opacity: 0.7;
  transition: 950ms;
}

.messageContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 100px;
  justify-content: center;
  justify-items: center;
  align-content: center;
  width: 100%;
}

.emailImage {
  width: 300px;
  justify-self: end;
  align-self: start;
  margin-top: 35px
}

.messageForm {
  display: grid;
  position: relative;
  grid-template-columns: auto;
  row-gap: 5px;
  outline: none;
  font-family: Garamond;
  width: 55%;
  justify-self: start;
}

.defaultNotification,
.sentNotification,
.failedNotification {
  justify-self: center;
  margin: 10px;
  margin-top: 20px;
  color: white;
}

.sentNotification {
  color: green;
}

.failedNotification {
  color: red;
}


.nameInput,
.titleInput,
.companyInput,
.emailInput,
.phoneInput,
.subjectInput,
.messageInput {
  position: relative;
  outline: none;
  border: solid 1px #DEDEDE;
  border-radius: 50px;
  padding: 10px 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 12px;
  margin-bottom: 7px;
  justify-self: center;
  width: 100%;
}

.nameInput:hover,
.nameInput:focus,
.titleInput:hover,
.titleInput:focus,
.companyInput:hover,
.companyInput:focus,
.emailInput:hover,
.emailInput:focus,
.phoneInput:hover,
.phoneInput:focus,
.subjectInput:hover,
.subjectInput:focus,
.messageInput:hover,
.messageInput:focus {
  border: solid 1px #ABABAB;
}

.companyContainer {
  display: grid;
  position: relative;
  grid-template-columns: 50% 50%;
  justify-content: center;
  column-gap: 25px;
}

.titleInput,
.companyInput {
  position: relative;
  width: calc(100% - 25px);
}

.titleInputText,
.companyInputText {
  justify-self: center;
  margin-left: 15px;
}

.phoneInput,
.messageInput {
  margin-bottom: 0px;
}

.messageInput {
  border-radius: 10px;
}

.inputText,
.titleInputText,
.companyInputText {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 700;
  justify-self: start;
  font-size: 14px;
}

.notesWrapper {
  display: flex;
  justify-content: space-between;
}

.characterCount,
.note {
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 10px;
  margin-bottom: 10px;
}

.characterCount {
  font-weight: 500;
  font-size: 11px;
}

.buttonsContainer {
  justify-self: end;
}

.submitMessageButton,
.cancelButton {
  font-size: 12px;
  padding: 10px 30px;
  margin: 15px 0px;
  text-align: center;
  font-family: "montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  outline: none;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.submitMessageButton {
  background-image: linear-gradient(to right, #A11B38, #AF1D3C, #C42145, #DC244B, #FF2957);
  background-size: 200%;
  transition: 500ms;
  margin-left: 15px;
  box-shadow: 2px 2px 3px 1px #EBEBEB;
}

.cancelButton {
  color: #757575;
}

.submitMessageButton:hover,
.submitMessageButton:focus {
  background-position: right;
  box-shadow: 2px 2px 7px 2px #EBEBEB;
}

.cancelButton:hover,
.cancelButton:focus {
  background-color: #E0E0E0;
  box-shadow: 2px 2px 7px 1px #EBEBEB;
  color: black;
  transition: 500ms;
}

@media screen and (max-width: 1350px) {
  .iconWrapper {
    width: 30%;
  }

  .messageForm {
    width: 60%;
  }

  .messageContainer {
    column-gap: 90px;
  }
}

@media screen and (max-width: 1250px) {
  .iconWrapper {
    width: 35%;
  }

  .messageForm {
    width: 75%;
  }

  .messageContainer {
    column-gap: 80px;
  }
}

@media screen and (max-width: 1120px) {
  .iconWrapper {
    width: 40%;
  }

  .messageForm {
    width: 85%;
  }

  .messageContainer {
    column-gap: 70px;
  }
}

@media screen and (max-width: 1025px) {
  .characterCount,
  .note {
    font-size: 9px;
  }

  .messageContainer {
    column-gap: 60px;
  }
}

@media screen and (max-width: 925px) {
  .iconWrapper {
    width: 45%;
  }
}

@media screen and (max-width: 850px) {
  .iconWrapper {
    width: 50%;
  }

  .characterCount,
  .note {
    font-size: 8px;
  }

  .messageForm {
    width: 85%;
  }

  .messageContainer {
    column-gap: 50px;
  }
}

@media screen and (max-width: 800px) {
  .messageContainer {
    column-gap: 35px;
  }
}

@media screen and (max-width: 715px) {
  .characterCount,
  .note {
    font-size: 7px;
  }

  .messageContainer {
    column-gap: 25px;
  }
}

@media screen and (max-width: 685px) {
  .iconWrapper {
    width: 65%;
  }

  .messageContainer {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .emailImage,
  .messageForm {
    justify-self: center;
  }

  .characterCount,
  .note {
    font-size: 10px;
  }
}

@media screen and (max-width: 600px) {
  .iconWrapper {
    width: 75%;
  }
}

@media screen and (max-width: 475px) {
  .iconWrapper {
    width: 85%;
  }

  .characterCount,
  .note {
    font-size: 9px;
  }
}

@media screen and (max-width: 425px) {
  .iconWrapper {
    width: 95%;
  }
  .characterCount,
  .note {
    font-size: 8px;
  }
}

@media screen and (max-width: 390px) {
  .liIcon,
  .emailIcon,
  .igIcon,
  .fbIcon,
  .ghIcon {
    font-size: 35px
  }
}

@media screen and (max-width: 390px) {
  .characterCount,
  .note {
    font-size: 7px;
  }
}