.projects {
  display: grid;
  grid-template-columns: auto;
  margin: 80px 30px 20px 30px;
  justify-content: center;
  justify-items: center;
}

.projectsTitle {
  margin: 20px;
}

.carousel {
  border: solid black 10px;
  width: 90%;
  height: 100%;
}

.gallery {
  width: 90%;
}