.projects {
  display: grid;
  grid-template-columns: auto;
  margin: 80px 30px 20px 30px;
  justify-content: center;
  justify-items: center;
}

.modalOpen {
  display: grid;
  grid-template-columns: auto;
  margin: 80px 30px 20px 30px;
  justify-content: center;
  justify-items: center;
  overflow: hidden;
}

.projectsTitle {
  margin: 20px;
}

.gallery {
  margin: 20px auto 50px auto;
  padding: 50px;
  display: grid;
  row-gap: 50px;
  position: relative;
  grid-template-columns: 70%;
  justify-content: center;
  justify-items: center;
  justify-self: right;
  background-color: rgba(247, 247, 247, 0.9);
  /* background-color: #f8e7fec2; */
  border-radius: 3px;
  width: 80%;
}

/* Media Queries */

@media screen and (max-width: 1350px) {
  .gallery {
    row-gap: 0px;
  }
}

@media screen and (max-width: 1150px) {
  .gallery {
    grid-template-columns: 90%;
    margin: 0px auto;
  }
}

@media screen and (max-width: 920px) {
  .gallery {
    row-gap: 30px;
  }
}

/*
Common mobile screen sizes:
  Width: 280, 320, 375, 360, 411, 414
  Height: 568, 640, 653, 667, 731, 736, 812, 823
iPad, Surface:
  W: 768, 1024, 540
  H: 1024, 1366, 720
*/

/* Mobile Screen Media Queries */

@media only screen and (max-device-width: 415px) and (min-device-height: 560px) and (orientation: portrait) {
  .projects {
    margin: 120px 30px 20px 50px;
  }

  .gallery {
    margin: 20px 0px 50px 0px;
    justify-self: center;
  }
}