.gallery {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 250px 250px;
  grid-gap: 10px;
  padding: 0;
  margin: 0;
  justify-items: center;
  box-shadow: 2px 2px 7px 1px #b5b4b4;
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
  max-width: 1400px;
  height: 500px;
}

.projectDetails {
  position: relative;
  width: calc(100% - 40px);
  height: calc(250px - 40px);
  justify-content: center;
  justify-items: center;
  text-align: center;
  font-size: 12px;
  padding: 20px;
  background-color: white;
}

.projectTitle {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 15px;
}

.groupName,
.jobTitle {
  margin: 10px 0;
}

.jobTitle {
  font-style: italic;
}

.projectDescription {
  text-align: justify;
  margin: 15px 30px;
  font-size: 11px;
}

.ghIcon {
  background: rgba(255, 255, 255, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  position: absolute;
  cursor: pointer;
  top: 7%;
  left: 5%;
  color: #787878;
}

.ghIcon:hover {
  transition: 800ms;
  color: pink;
}

.imageWrapper,
.image {
  width: 100%;
  overflow: hidden;
  height: 250px;
  cursor: pointer;
  object-fit: cover;
}

.image:hover {
  transition: 800ms;
  transform: scale(1.03, 1.03);
  height: 250px;
  opacity: 0.9;
}

/* Media Queries */

@media screen and (max-width: 1350px) {
  .gallery {
    transform: scale(0.9, 0.85);
  }

  .projectTitle,
  .projectDetails,
  .projectDescription {
    font-size: 10px;
  }

  .ghIcon {
    top: 5%;
    left: 3%;
  }
}

@media screen and (max-width: 1250px) {
  .projectDescription {
    font-size: 9px;
  }
}

@media screen and (max-width: 1150px) {
  .gallery {
    transform: scale(0.8, 0.8);
  }

  .projectTitle {
    margin-top: 10%;
  }
}

@media screen and (max-width: 920px) {
  .gallery {
    transform: scale(1, 1);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px 150px;
    height: 300px;
  }

  .projectDetails,
  .imageWrapper,
  .image {
    margin: 0;
    height: 150px;
    overflow: hidden;
    object-fit: cover;
  }

  .projectDetails {
    height: (150px - 40px);
    width: 100%;
    padding: 0;
  }

  .projectDescription {
    display: none;
  }

  .projectTitle {
    margin-top: 20%;
  }
}

@media screen and (max-width: 750px) {
  .gallery {
    transform: scale(1, 1);
    grid-template-rows: 250px;
    height: 250px;
  }

  .projectDetails,
  .imageWrapper,
  .image {
    margin: 0;
    height: 250px;
  }

  .projectDetails {
    height: 250px;
    width: 100%;
    padding: auto 20px;
  }

  .projectTitle {
    margin-top: 30%;
  }

  .jobTitle {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 650px) {
  .gallery {
    transform: scale(1, 1);
    grid-template-rows: 200px;
    height: 200px;
  }
}

@media screen and (max-width: 550px) {
  .gallery {
    grid-template-columns: 1fr;
  }

  .imageWrapper,
  .image {
    display: none;
  }

  .projectTitle {
    margin-top: 20%;
  }
}


@media screen and (max-width: 350px) {
  .projectTitle {
    margin-top: 35%;
  }

  .projectTitle,
  .projectDetails {
    font-size: 8px;
  }
}

/* Mobile Screen Media Queries */

@media only screen and (max-device-width: 415px) and (min-device-height: 560px) and (orientation: portrait) {
  .gallery {
    grid-template-columns: 3fr 2fr 2fr;
    grid-template-rows: 300px 300px;
    grid-gap: 10px;
    padding: 0;
    margin: 0;
    justify-items: center;
    overflow: hidden;
    width: 100vw;
    height: 600px;
  }

  .imageWrapper,
  .image {
    height: 300px;
    object-fit: cover;
  }

  .image:hover {
    height: 300px;
  }

  .projectDetails {
    position: relative;
    width: calc(100% - 40px);
    height: calc(300px - 40px);
  }

  .projectTitle {
    font-size: 35px;
    margin-top: 70px;
  }

  .groupName,
  .jobTitle {
    font-size: 25px;
  }

  .projectDescription {
    display: none;
  }
}