.gallery {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 250px 250px;
  grid-gap: 10px;
  column-gap: 12px;
  padding: 0;
  margin: 0;
  justify-items: center;
  box-shadow: 2px 2px 7px 1px #aeaeae;
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
  max-width: 1400px;
  height: 100%;
}

.projectDetails {
  position: relative;
  width: calc(100% - 40px);
  height: calc(250px - 40px);
  justify-content: center;
  justify-items: center;
  text-align: center;
  font-size: 12px;
  /* border-right: 1px solid rgba(223, 223, 223, 0.372); */
  /* border-bottom: 1px solid rgba(223, 223, 223, 0.372); */
  padding: 20px;
}

.projectTitle {
  font-weight: bold;
  top: 20px;
  margin-bottom: 10px;
  font-size: 15px;
}

.groupName,
.jobTitle {
  margin: 10px 0;
}

.projectDescription {
  text-align: justify;
  margin: 15px 30px;
  font-size: 11px;
}

.ghIcon {
  background: rgba(255, 255, 255, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  position: absolute;
  cursor: pointer;
  top: 3%;
  left: 2%;
  color: #787878;
}

.ghIcon:hover {
  transition: 800ms;
  color: pink;
}

.imageWrapper,
.image {
  width: 100%;
  overflow: hidden;
  height: 250px;
  cursor: pointer;
}

.image:hover {
  transition: 800ms;
  transform: scale(1.01, 1.01);
  height: 250px;
  opacity: 0.9;
}

