.header {
  margin: 0px;
  display: grid;
  /* position: sticky; */
  width: calc(100% + 1px);
  position: fixed;
  top: 0px;
  height: 65px;
  grid-template-columns: 100px auto 500px;
  background-color: white;
  opacity: 0.975;
  z-index: 15;
  align-content: center;
  box-shadow: -0.5px 2px 7px 2px #EDEDED;
}

.header:hover,
.header:focus {
  box-shadow: -10px 2px 7px 2px #BFBFBF;
}

.name {
  position: relative;
  font-family: Dancing Script;
  font-size: 50px;
  font-weight: 700;
  top: 30px;
  color: #0F3F8F;
  padding: 0px 20px;
  text-decoration: none;
  border: none;
  height: 50px;
  width: 200px;
  justify-self: start;
  align-content: center;
  align-self: center;
  cursor: pointer;
}

.headerImage {
  position: relative;
  margin: auto 20px;
  top: 25px;
  border: none;
  border-radius: 50%;
  justify-self: start;
  align-content: center;
  align-self: center;
  cursor: pointer;
  height: 50px;
  width: 50px;
  box-shadow: 2px 2px 5px 1px #BFBFBF;
}

.headerImage:hover,
.headerImage:focus {
  box-shadow: 2px 2px 5px 1px #8F8F8F;
}

.links {
  display: flex;
  position: relative;
  justify-content: flex-start;
  height: 100px;
}

.homeLink,
.aboutMeLink,
.projectsLink,
.resumeLink,
.contactLink {
  /* Font height (20) + top/bottom margin + top/bottom padding = total height (100)*/
  padding: 10px 15px;
  margin: 30px 10px;
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-decoration: none;
  color: #575757;
  border:none;
  justify-self: start;
  align-content: center;
  align-self: center;
  cursor: pointer;
  font-size: 15px;
  outline: none;
  background: none;
  font-weight: 500;
  border-bottom: solid 3px white;
}

.homeLink:hover,
.aboutMeLink:hover,
.projectsLink:hover,
.resumeLink:hover,
.contactLink:hover {
  border-bottom: solid 3px;
}

.socialMedia {
  display: flex;
  position: relative;
  top: 25px;
  margin: 0 20px;
  align-content: center;
  justify-content: flex-end;
  height: 100px;
}

.emailIcon,
.liIcon,
.ghIcon,
.igIcon,
.fbIcon {
  padding: 0 10px;
  color: #0F3F8F;
  cursor: pointer;
  height: 50px;
  border-bottom: white solid 5px;
  font-size: 30px;
}

.emailIcon:hover,
.emailIcon:focus,
.liIcon:hover,
.liIcon:focus,
.ghIcon:hover,
.ghIcon:focus,
.igIcon:hover,
.igIcon:focus,
.fbIcon:hover,
.fbIcon:focus {
  border-bottom: solid 5px;
}

.emailIcon:hover,
.emailIcon:focus {
  color: #BB001B;
}

.liIcon:hover,
.liIcon:focus {
  color: #0077b5;
}

.ghIcon:hover,
.ghIcon:focus {
  color: #211F1F;
}

.igIcon:hover,
.igIcon:focus {
  color: #bc2a8d;
}

.fbIcon:hover,
.fbIcon:focus {
  color: #4267B2;
}

/* @media screen and (max-width: 1120px) {
  .header {
    display: none;
  }

  .header {
    display: grid;
    grid-template-columns: 100px auto auto;
  }
} */